Alogrithm/.vs/Alogrithm/v16/Browse.VC.db
Alogrithm/.vs/Alogrithm/v16/TestStore/0/000.testlog
Alogrithm/.vs/Alogrithm/v16/TestStore/0/testlog.manifest
Alogrithm/.vs/Alogrithm/v16/TestStore/1/000.testlog
Alogrithm/.vs/Alogrithm/v16/TestStore/1/testlog.manifest
Alogrithm/.vs/Alogrithm/v16/TestStore/2/000.testlog
Alogrithm/.vs/Alogrithm/v16/TestStore/2/testlog.manifest
Alogrithm/.vs/Alogrithm/v16/ipch/AutoPCH/c09df40e8d43ddea/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Alogrithm/.vs/Alogrithm/v16/Solution.VC.db
Alogrithm/.vs/Alogrithm/v16/ipch/a4e78806f8e90de7.ipch
Alogrithm/.vs/Alogrithm/v16/ipch/a9bd1b0c07fd7d97.ipch
Alogrithm/.vs/Alogrithm/v16/ipch/AutoPCH/68cf552fa8251aa6/2_EXCELSHEETCOLUMNTITLE.ipch
Alogrithm/.vs/Alogrithm/v16/ipch/AutoPCH/907a8f897d64c1f1/1_CONTAINSNEARBYDUPLICATE.ipch
Alogrithm/.vs/Alogrithm/v16/ipch/AutoPCH/ef33c62a547d2002/1_CONTAINSNEARBYDUPLICATE.ipch
Alogrithm/.vs/Alogrithm/v16/ipch/AutoPCH/f25efc4d6f84971c/MAIN.ipch
Alogrithm/.vs/Alogrithm/v16/ipch/AutoPCH/f97b2c42bb795e41/2_EXCELSHEETCOLUMNTITLE.ipch
Alogrithm/.vs/Alogrithm/v16/ipch/AutoPCH/fb28aefeba7b8b20/1_CONTAINSNEARBYDUPLICATE.ipch
Alogrithm/.vs/Alogrithm/v16/TestStore/3/000.testlog
Alogrithm/.vs/Alogrithm/v16/TestStore/3/testlog.manifest
Alogrithm/Alogrithm/Debug/1_ContainsNearbyDuplicate.obj
Alogrithm/Alogrithm/Debug/2_ExcelSheetColumnTitle.obj
Alogrithm/Alogrithm/Debug/Alogrithm.Build.CppClean.log
Alogrithm/Alogrithm/Debug/Alogrithm.exe.recipe
Alogrithm/Alogrithm/Debug/Alogrithm.log
Alogrithm/Alogrithm/Debug/Alogrithm.vcxproj.FileListAbsolute.txt
Alogrithm/Alogrithm/Debug/main.obj
Alogrithm/Alogrithm/Debug/vc142.idb
Alogrithm/Alogrithm/Debug/vc142.pdb
Alogrithm/Alogrithm/Debug/Alogrithm.tlog/Alogrithm.lastbuildstate
Alogrithm/Alogrithm/Debug/Alogrithm.tlog/CL.command.1.tlog
Alogrithm/UnitTest/Debug/pch.obj
Alogrithm/UnitTest/Debug/UnitTest.log
Alogrithm/UnitTest/Debug/UnitTest.pch
Alogrithm/UnitTest/Debug/vc142.idb
Alogrithm/UnitTest/Debug/vc142.pdb
Alogrithm/UnitTest/Debug/UnitTest.tlog/CL.command.1.tlog
Alogrithm/UnitTest/Debug/UnitTest.tlog/CL.read.1.tlog
Alogrithm/UnitTest/Debug/UnitTest.tlog/CL.write.1.tlog
Alogrithm/UnitTest/Debug/UnitTest.tlog/UnitTest.lastbuildstate
Alogrithm/UnitTest/Debug/UnitTest.tlog/unsuccessfulbuild
Alogrithm/Alogrithm/Debug/Alogrithm.tlog/CL.read.1.tlog
Alogrithm/Alogrithm/Debug/Alogrithm.tlog/CL.write.1.tlog
Alogrithm/Alogrithm/Debug/Alogrithm.tlog/link.command.1.tlog
Alogrithm/Alogrithm/Debug/Alogrithm.tlog/link.read.1.tlog
Alogrithm/Alogrithm/Debug/Alogrithm.tlog/link.write.1.tlog
Alogrithm/Debug/Alogrithm.exe
Alogrithm/Debug/Alogrithm.ilk
Alogrithm/Debug/Alogrithm.pdb
